# Python 관련
venv/
__pycache__/
*.pyc
.env

# Eclipse / JSP 관련
.settings/
target/
.classpath
.project

# 이미지 폴더 (용량 큰 폴더 제외)
mongglemonggle/AIMAE/src/main/webapp/productImage/
mongglemonggle/AIMAE/src/main/webapp/projectPhoto/

# IDE 설정
.idea/
.vscode/

# 로그, 임시 파일
*.log
*.tmp

# OS 임시 파일
.DS_Store
Thumbs.db
