<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>AIMAE</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainController</display-name>
    <servlet-name>MainController</servlet-name>
    <servlet-class>com.aimae.controller.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeJoinService</display-name>
    <servlet-name>AimaeJoinService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeJoinService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeJoinService</servlet-name>
    <url-pattern>/AimaeJoinService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeLoginService</display-name>
    <servlet-name>AimaeLoginService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeLoginService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeLoginService</servlet-name>
    <url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeLogoutService</display-name>
    <servlet-name>AimaeLogoutService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeLogoutService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeLogoutService</servlet-name>
    <url-pattern>/AimaeLogoutService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeUpdateService</display-name>
    <servlet-name>AimaeUpdateService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeUpdateService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeUpdateService</servlet-name>
    <url-pattern>/AimaeUpdateService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeSelectAllService</display-name>
    <servlet-name>AimaeSelectAllService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeSelectAllService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeSelectAllService</servlet-name>
    <url-pattern>/AimaeSelectAllService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListService</display-name>
    <servlet-name>ProductListService</servlet-name>
    <servlet-class>com.aimae.controller.ProductListService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListService</servlet-name>
    <url-pattern>/ProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDeleteService</display-name>
    <servlet-name>ProductDeleteService</servlet-name>
    <servlet-class>com.aimae.controller.ProductDeleteService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteService</servlet-name>
    <url-pattern>/ProductDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductUpdateService</display-name>
    <servlet-name>ProductUpdateService</servlet-name>
    <servlet-class>com.aimae.controller.ProductUpdateService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpdateService</servlet-name>
    <url-pattern>/ProductUpdateService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductRegistService</display-name>
    <servlet-name>ProductRegistService</servlet-name>
    <servlet-class>com.aimae.controller.ProductRegistService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductRegistService</servlet-name>
    <url-pattern>/ProductRegist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailService</display-name>
    <servlet-name>ProductDetailService</servlet-name>
    <servlet-class>com.aimae.controller.ProductDetailService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailService</servlet-name>
    <url-pattern>/ProductDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FruitProductListService</display-name>
    <servlet-name>FruitProductListService</servlet-name>
    <servlet-class>com.aimae.controller.FruitProductListService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitProductListService</servlet-name>
    <url-pattern>/FruitProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VegetableProductListService</display-name>
    <servlet-name>VegetableProductListService</servlet-name>
    <servlet-class>com.aimae.controller.VegetableProductListService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VegetableProductListService</servlet-name>
    <url-pattern>/VegetableProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ElectronicProductListService</display-name>
    <servlet-name>ElectronicProductListService</servlet-name>
    <servlet-class>com.aimae.controller.ElectronicProductListService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElectronicProductListService</servlet-name>
    <url-pattern>/ElectronicProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeAuthCodeService</display-name>
    <servlet-name>AimaeAuthCodeService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeAuthCodeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeAuthCodeService</servlet-name>
    <url-pattern>/AimaeAuthCodeService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeCompletCodeService</display-name>
    <servlet-name>AimaeCompletCodeService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeCompletCodeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeCompletCodeService</servlet-name>
    <url-pattern>/AimaeCompletCodeService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeUnregisterService</display-name>
    <servlet-name>AimaeUnregisterService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeUnregisterService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeUnregisterService</servlet-name>
    <url-pattern>/AimaeUnregisterService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeFindIdService</display-name>
    <servlet-name>AimaeFindIdService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeFindIdService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeFindIdService</servlet-name>
    <url-pattern>/AimaeFindIdService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeFindPwService</display-name>
    <servlet-name>AimaeFindPwService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeFindPwService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeFindPwService</servlet-name>
    <url-pattern>/AimaeFindPwService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeNaverLoginService</display-name>
    <servlet-name>AimaeNaverLoginService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeNaverLoginService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeNaverLoginService</servlet-name>
    <url-pattern>/AimaeNaverLoginService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartService</display-name>
    <servlet-name>CartService</servlet-name>
    <servlet-class>com.aimae.controller.CartService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartService</servlet-name>
    <url-pattern>/CartService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartStatusUpdateServlet</display-name>
    <servlet-name>CartStatusUpdateServlet</servlet-name>
    <servlet-class>com.aimae.controller.CartStatusUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartStatusUpdateServlet</servlet-name>
    <url-pattern>/updateCartStatus</url-pattern>
  </servlet-mapping>
</web-app>